
/*********** Navigation ******************/

#navlist
{
    padding-right: 20px;
    padding-top:50px;
    float:right !important;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;

}

#navlist li a
{
    text-decoration:none;
}


/*********** Footer ******************/

#footer
{
    padding-top:50px;

}