{% extends "base.html" %}

{% block title %} Foojal Signup {% endblock %}

{% block content %}
{%if account%}
<form action='' method='post'>
    <div><label>
        Name:
        <input name='name' type='text' value='{{account.nickname}}'>
    </label></div>
    <div><input type='submit' value='Save'></div>
</form>
{%else%}
<h3>Please send in a Photo to start off your Photo Food Journal to Food@foojalWorld.appspotmail.com</h3>
{%endif%}

<hr/>


User is admin is: {{ is_admin }}<br>
Current user is: {{ user }}<br>
{% endblock %}