{% extends "base.html" %}

{% block title %} Your Account {% endblock %}

{% block content %}
<div class="span-24 last">
    <h1>Your Account </h1>
    <fieldset>
        <form name="account" action='' method='post'>
            <ol>
                <li><label for="name">Name</label>
                    <input name='name' type='text' class="title" value='{{account.nickname}}'/>
                </li>
                <li><label>Expiration Date</label>
                    {{ account.expiration_date|date:"M d Y" }}
                </li>
                <li><label for="timezones">Timezone</label>
                    <select name="timezones">
                        {% regroup zones by zone as zone_list %}
                        {% for zone in zone_list %}
                        <optgroup label="{{zone.grouper}}">
                            {% for item in zone.list %}
                            <option value="{{item.key}}"
                            {% if item.key == account.timezone %} SELECTED {% endif %}>{{item.value}}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <button type="submit" class="button positive">
                        Save
                    </button>
                </li>
            </ol>
        </form>
    </fieldset>


    Buy a year subscription to Foojal you photo food journal. <a href="/purchase">Buy now!</a>
</div>
{% endblock %}