<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Foojal | Invitation Admin</title>
</head>

<body >
<h1>Invitation Admin</h1>
 {% if invites %}
    <table style="width:100%">
        <thead>
        <tr>
            <td>Address</td>
            <td>Created On</td>
            <td>&nbsp;</td>
        </tr>
        </thead>
        {% for invite in invites %}
        <tr>
            <td>{{ invite.to_address }}</td>
            <td>{{ invite.created }}</td>
            <td>
                <form action='' method='post'><input name='key' type='hidden' value="{{ invite.unique_key }}"/>
                    <button type="submit">Resend</button>
                </form>
            </td>
        </tr>
    </table>
    {% endfor %}
{% else %}
    <h2>No Invitations to resend</h2>
{% endif %}

</body>
</html>
