<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<title>{% block title %}{% endblock %} - Foojal The Photo Food Journal</title> 

		<!-- Framework CSS --> 
		<link rel="stylesheet" href="/public/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"> 
		<link rel="stylesheet" href="/public/stylesheets/blueprint/print.css" type="text/css" media="print"> 
		<!--[if lt IE 8]><link rel="stylesheet" href="/public/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 

		<!-- Import fancy-type plugin for the sample page. --> 
		<link rel="stylesheet" href="/public/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
		<link type="text/css" rel="stylesheet" href="/public/stylesheets/main.css" />

        <link rel="apple-touch-icon" href="/public/images/touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/public/images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/public/images/touch-icon-iphone4.png" />
        <link rel="apple-touch-startup-image" href="/public/images/apple-touch-startup-image.png">
</head>
<body>
		<div class="container">

			<div class="span-24 last"> 
				<img src="/public/images/Foojal.png"  alt="Foojal Photo Food Journal Logo"/>
			</div> 
			
			{%if user%}
			<a class="novisit" href="{{sign_out}}">Sign out</a>
			{% else %}
			<a class="novisit" href="{{sign_in}}">Sign in</a>
			{%endif%}
			
			<hr class="space">
	    {% block content %}{% endblock %}		
		</div>
</body>
</html>
