<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Foojal | {% block title %}{% endblock %} - The Photo Food Journal</title>
    <link type="text/css" rel="stylesheet" href="/public/stylesheets/screen.css" type="text/css"
          media="screen, projection">

    <link rel="apple-touch-icon" href="/public/images/touch-icon-iphone.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/touch-icon-ipad.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/touch-icon-iphone4.png"/>
    <link rel="apple-touch-startup-image" href="/public/images/apple-touch-startup-image.png">
</head>
<body>
<div id="wrap" class="group">


    <div id="header" class="group">
        <img src="/public/images/Foojal.png" alt="Foojal Photo Food Journal Logo"/>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/account"> <img src="/public/images/icons/person.png" width="15px"> {{ account.nickname }}</a>
            </li>
            {%if user%}
            <li><a href="{{sign_out}}">Sign out</a></li>
            {% else %}
            <li><a href="{{sign_in}}">Sign out</a></li>
            {%endif%}
        </ul>
    </div>


    <div class="main">
        {%if account.user == None %}

        <h1>Your Journal is empty</h1>

        <h3>Please send a food photo to Food@foojalWorld.appspotmail.com</h3>

        {% else %}
        {% if account.is_expired %}

        <h3>Your account is expired. Please signup for another year </h3>

        {% else %}
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}

        {% if notice %}
        <div class="notice">
            {{ notice }}
        </div>
        {% endif %}

        {% if info %}
        <div class="info">
            {{ info }}
        </div>
        {% endif %}

        {% if success %}
        <div class="success">
            {{ success }}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        {%endif%}
        {%endif%}

    </div>

    <div id="footer">
        Copyright &copy; 2009. Blue Cognition LLC <a href="http://bluecognition.com.com/">www.BlueCognition.com</a>.<br>
        User is admin is: {{ is_admin }}<br>
        Current user is: {{ user }}
    </div>
    <!-- /footer -->
</div>
<!-- /wrap -->
</body>
</html>
