{% extends "base.html" %}

{% block title %}Entry{% endblock %}

{% block content %}

<div class="col-full" style="margin-bottom:100px">
    {%include "_entry.html"%}
</div>
<div class="col-full" style="margin-bottom:100px">

    <form action='/entry/{{entry.key}}' method='post'>
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit">
            Delete
        </button>
    </form>

    <form action='' method='post'>
        <ol>
            <li><label>Tags</label>
                <input name='tags' type='text' class="title" size="62"
                       value='{% for tag in entry.tags %}{{tag|safe}} {% endfor %}'/>
            </li>


            <li class="textarea"><label for="contentText">Note</label>
                <textarea name="content" id="contentText" rows="10" cols="50">{{ entry.content|safe }}</textarea>
            </li>

            <li>
                <input type="hidden" name="_method" value="put"/>
                <button type="submit">Save</button>
            </li>
        </ol>
    </form>
</div>
<div class="col-full" style="margin-bottom:100px">
    {% include "_entrymap.html" %}

    <h2> Journal Entries with the same tags</h2>
    <hr>

    {% include "_entriesmap.html" %}

    {% include "_entries.html" %}

</div>
{% endblock %}

