{% extends "base.html" %}

{% block title %}Today Pictures {% endblock %}

{% block content %}

    <hr />
    {% for entry in entries %}
        <div class="span-10">
            {% if entry.picture_uid %}
                <img src="/photo?id={{ entry.picture_uid }}" width="350px" alt="Photo"/>
            {% else %}
                <img src="/public/images/touch-icon-ipad.png" alt="Photo"/>
            {%endif%}
        </div>
        <div class="span-14 last">
            <ul>
                <li>Sender: {{ entry.sender }}</li>
                <li>Content: {{ entry.content }}</li>
                <li>Location: {{ entry.location }}</li>
                <li>Created: {{ entry.created }}</li>
                <li>Modified: {{ entry.modified }}</li>
            </ul>
        </div>
       
    {% endfor %}
{% endblock %}