{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<hr/>
<div class="span-24 last">
    <ol class="entries">
        {% for entry in entries %}
        <li>
            <div class="entry">
                <a href="/">
                    {% if entry.picture_url %}
                    <img src="{{ entry.picture_url }}=s600" alt="Photo"/>
                    {% else %}
                    <img src="/public/images/photo.jpg" alt="Photo"/>
                    {%endif%}
                    <span>
                        <strong>
                            {% for tag in entry.tags %}
                            [{{ tag }}>
                            {% endfor %}</strong>
                        <em>{{ entry.content }}</em>
                    </span>
                </a>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

