{% extends "base.html" %}

{% block title %}Purchase{% endblock %}

{% block content %}
<div class="span-24 last">
    <h1>Purchase </h1>

    <form action='' method='post'>
        <h2>1 Year Subscription 24.00</h2>
        <em>That's just 2.00 dollars a month</em>
        <br/><br/><br/>
        <input alt=""
               src="https://checkout.google.com/buttons/buy.gif?merchant_id=641682659677953&w=117&h=48&style=white&variant=text&loc=en_US"
               type="image"/>
    </form>
</div>
{% endblock %}